<div class="content-wrapper">

  <form [formGroup]="taskForm" (ngSubmit)="addTask()">
    <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Task Name</mat-label>
    <input type="text" matInput placeholder="Ex: workout" formControlName="taskName">
    <mat-error *ngIf="taskForm.controls.taskName.hasError('required')">
      Task name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button class="add-task" [disabled]="!taskForm.valid" type="submit" mat-mini-fab color="accent" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>
</form>


<mat-list role="task">
  <div mat-subheader>Task List</div>
  <mat-list-item *ngFor="let task of taskList; let i=index" role="taskitem">
    <!-- <mat-icon mat-list-icon>task</mat-icon> -->
    <div mat-line>{{task}}</div>
    <button (click)="deleteTask(i)" class="delete-task" type="button" mat-icon-button aria-label="Example icon button with a delete icon">
      <mat-icon>do_not_disturb_on</mat-icon>
    </button>
    <!-- <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>delete</mat-icon>
    </button> -->
  </mat-list-item>
</mat-list>

<div class="save-wrapper">
  <button type="button" (click)="saveList()" mat-raised-button color="primary">Save</button>
</div>
</div>